/* Setting backgound imagw*/
html{
    background-image: url("hearthand.jpg");
}
/*main header colour and style */
#main_header {
    background-color:aliceblue;
    color:darkblue;
    font-size: 400%;
    margin-left: 35%;
    margin-right: 25%;
    text-align: center;
    border:solid;
    border-style: groove;
    padding-left: 0px;
}
/*Hover change of colour for heading */
#main_header:hover{
    background-color: lightgray;
}
/*setting sub heading font, border colour and style */
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: solid;
    border-radius: 9px;
    background-color:#EE4E34;
    color: white;
}
/*Setting the restart button */
#restart{
    color:red;
    padding-right: 10px;

}
/* Setting the form backgound colour */
form{
    background-color: #317773;
    height: 650px;
    opacity: 0.90;
}
/*padding for divs */
div{
    padding-left: 20%;
    padding-right: 10%;
}
/* height of canvas */
canvas{
    height:280px;
    margin-bottom: 60px;
    padding-left: 100px;

    
}
/*setting font of result paragraph */
p{
    font-size: large;
    font:bold;
}
/*increasing the paragraph font and changing colour on hover */
p:hover{
    font-size:x-large;
    color: red;
}
/* Increasing the canvas size on hover*/
canvas:hover{
    height: 350px;
    width: 500;
    
}

/* main form margin, padding, and border*/
#main_form{
    margin:2em;
    padding:1em 2em;
    border:solid 10px;
    border-color: #00008b;
    border-radius: 100px;
    min-width:200px;
}
/*label display style */
label{
    display:block;
    
}
/* changing the label colour on hover*/
label:hover{
    color:darkgoldenrod
}
/*width of range inputs to 25em */
input[type="range"]{
    width: 25em;
    padding-bottom: 100px;;

}
/* setting select to blue when mouse hovers*/
select:hover{
    color: blue;
}
/* setting output to white when mouse hovers*/
output:hover{
    color: white;
}
/* setting option background to red when mouse hovers*/
option:hover{
    background-color:#EE4E34;
}
/* setting h2 headings background to red when mouse hovers*/
h2:hover{
    background-color: #B85042;
}

/* padding and border colour for inputs*/
input{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:solid 1px;
    border-color:darkgreen;
    background-color: burlywood;
}
/*button padding, colour and shape */
button{
    border-radius: 9px;
    border:solid 1px;
    border-color:darkgreen;
    background-color: darkred;
    
}
/* setting restart button to red when mouse hovers*/
button:hover{
    background-color: red;
}
/*label for range and radio inputs margin and padding set */
input[type="range"] + label, input[type="radio"] + label{
    padding-top: 0;
    margin-top: 10px;
    margin-block-start: 50px;

}
/*radio inputs margins and position set */
input[type="radio"]{
    margin-left: 25%;
}
/* setting form opacity mouse hovers*/
form:hover{
    opacity: 0.94;
    
}
/* setting submit button to green when mouse hovers*/
input[type="submit"]:hover{
    color:gray;
    background-color: green;
}

/*sub heading margin set */
h2 * {
    margin-top: 500px;
}
/* range input margins and display style set */
input[type="range"] {
    margin-bottom: 100px;
    margin-top: 10px;
    display: block;
}
/*margin top for age label set */
#ageLabel{
    margin-top: 68px;
}
/* age output counter color and position set */
output{
    color: red;
    display: block;
    margin-left: 400px;
}
/*hdl cholesterol label margins set */
#labelhdlChol{
    margin-top: 100px;
    margin-bottom: 20px;
}
#hdlChol{
    margin-bottom: 100px;
}
/* total cholesterol margins set */
#labeltChol{
    margin-bottom: 20px;
    margin-top: 75px;

}
/*blood pressure label margins set */
#labelBP{
    margin-top: 100px;
    margin-bottom: 20px;

}
/*select items font and size set */
select{
    font-size: large;
    size: 400px;
}
/* font and colour of labels set */
label{
    font-size: larger;
    color:#FCEDDA;

}
/*button padding, style and font design set */
button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-top: 100px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}
/*submit buttons margins, style and font set */
input[type ="submit"]{
    margin-left: 400px;
    position: relative;
    border-radius: 10px;
    right:    0;
    bottom:   0;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    
}
/*smoker variable margin set to 100px */
#smoker{
    margin-bottom:150px;
}
/*non smoker margin variables set  */
#nonSmoker{
    margin-bottom: 100px;
    margin-right: 100px;
    margin-top: 0px;

}
/*non smoker label margin set */
#nonSmokerLabel{
    margin-top: 0px;
}
/*Setting smoker label top margin*/
#smokerLabel{
    margin-top: 75px;
}
/*Setting untreated label top margin*/
#untreatedLabel{
    margin-top: 75px;
}


